.characters{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.character{
    margin: 5px;
}

.header{
    text-align: center;
}

.error{
    display: flex;
    align-content: center;
}